*{
	margin: 0px;
	border: 0px;
	padding: 0px;
}
body{
	overflow-x: hidden;
	background-image: url(b-1.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.outer-bor{
 width:99%;
 height: 98vh;
 display: flex;
 flex-direction: column;
 padding: 10px;

}
.main-content{
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 90px;
	
}
.main-content:hover{
	 & > img{
	 	visibility: visible;
	 	  transform: translateY(-9px);
	 	  transition: 1s all ease;
	 }
	 & > h1{
	 	flex-grow: 0.1;
	 }
}
.main-content h1{
	font-size: 40px;
	text-transform: uppercase;
	color: #003C43;
	font-weight: 700;
	letter-spacing: 1px;
	margin-left: 30px;
 
}
.main-content img{
      height: 70px;
      width: 70px;
      visibility: hidden;
      transform: translateY(8px);
}
.main-content img:hover{
	transform: rotate(-5deg);
	transition: 2s all ease;
}
.inner-content{
	border: 1px solid black;
}
.inner-content{
	margin-left: 40px;
	width: 90%;
	height: 80%;
}
.inner-content img{
	height: 120px;
	width: 120px;

.inner-content .couldy{
	height: 200px;
	width: 100%;
	border: 1px solid black;
	padding: 2px;
}
.inner-content img{
	animation-name: cloud;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay: 0.2s;
}
@keyframes cloud{
	0%{
		transform: translateX(10px);
	}
	25%{
		transform: translateX(40px);
	}
	50%{
		transform: translateX(60px);
	}
	75%{
		transform: translateX(70px);
	}
	100%{
		transform: translateX(100px);
	}

}
